@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #19181f;
  --orange: #ff6300;

  --12px: 12px;
  --18px: 18px;
  --24px: 24px;
  --30px: 30px;

  --shadow: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  --shadow-sec: 0px 10px 20px rgba(0, 0, 0, 0.1);

  --main-font: 'Poppins', 'poppins', sans-serif;
}

body {
  font-family: var(--main-font);
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.container {
  max-width: 1216px;
  margin: 0 auto; 
  padding: 0 10px !important;
}

.title {
  font-size: var(--24px);
  font-weight: 600;
  line-height: 32px;
}

.home-enter-active,
.home-leave-active {
  transition: opacity 0.5s;
}

.home-enter,
.home-leave-active {
  opacity: 0;
}

.link {
  color: #010E38;
  cursor: pointer;
}

.link:hover {
  color: #010E38;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .crumbs {
    align-items: flex-start !important;
  }
}